@use '../custom' as *;

.aboutme-container{
    margin-bottom: 3em;
}


.lh-lg{
    color: $secondary;
    margin: 0%;
}

.side-image {
    max-width: 100%; 
    height: auto; 
  }

// .display-3--title{
//     color: $white;
//     margin-bottom: 1em;
    
// }

// .display-4--title{
//     color: $white;
//     font-size: 1rem; 
// }

